name: Synthetic Devl UDI schema generator

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Polyglot Prime Tag Version'
        required: true

jobs:
  test-step:
    runs-on: ubuntu-latest
    env:
      SQL_AIDE_TAG: v0.14.9
    steps:
      - name: Running schema generation
        run: echo "Running schema generation"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone Polyglot Prime repository
        run: |
          git clone  https://github.com/anoopvarma-2000-p/polyglot-prime.git

      - name: Set and check environment variable for testing
        run: |
          echo "dev_TECHBD_UDI_DS_READER_JDBC_USERNAME=dev_${{ secrets.DEVL_TECHBD_UDI_DS_READER_JDBC_USERNAME }}" >> $GITHUB_ENV
          echo "SPRING_PROFILES_ACTIVE=devl" >> $GITHUB_ENV
          echo "SPRING_PROFILES_ACTIVE=${{ env.SPRING_PROFILES_ACTIVE }}"
        env:
          SPRING_PROFILES_ACTIVE: devl

      - name: Verify environment variables
        run: |
          echo "Checking environment variables:"
          echo "dev_TECHBD_UDI_DS_READER_JDBC_USERNAME=${{ env.dev_TECHBD_UDI_DS_READER_JDBC_USERNAME }}"
          echo "SPRING_PROFILES_ACTIVE=${{ env.SPRING_PROFILES_ACTIVE }}"

      - name: Run migration
        run: |
          cd polyglot-prime/udi-prime/src/main/postgres/ingestion-center/migrations
          deno run --allow-env --allow-read migrate-basic-infrastructure.ts
        env:
          SPRING_PROFILES_ACTIVE: devl
          devl_TECHBD_UDI_DS_READER_JDBC_USERNAME: "${{ secrets.DEVL_TECHBD_UDI_DS_READER_JDBC_USERNAME }}"
