name: Test dev_ prefix for secret

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Polyglot Prime Tag Version'
        required: true

jobs:
  test-step:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set and check environment variable for testing
       run: |
        env:
          SPRING_PROFILES_ACTIVE: devl
          echo "dev_TECHBD_UDI_DS_READER_JDBC_USERNAME=dev_${{ vars.DEVL_TECHBD_UDI_DS_READER_JDBC_USERNAME }}" 
